extend layout


block content

    h1 Hello #{name}
    ul
        each item in fruits
            li= item
    p voici un paragraphe 
    a.btn.btn-primary.mt-2(href="/test/" + friend target="_blank")  Lien vers mon ami 
    br
    a(href="/test/" + friend target="_blank" class="mt-1")  Lienvers mon ami 

    if user.role == 'god'
        p bonjour Dieu
    else
        p bonjour #{user.userName}

    ul
        each value, key in user
            li #{key} = #{value}
    table.table.table-bordered.table-striped
        thead
            tr
                th Article
                th Catégorie
        tbody
            each article in articleList
                tr
                    td= article.nom
                    td= article.categorie    

